<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404 Not Found</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<% include menu %>
	<h1>404 Not Found</h1>
	<p>西巴，找不到好伐!!</p>
</body>
</html>