<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<% include menu %>

	<% entries.forEach(function(entry) { %>
		<ul class="entry">
			<li>
				<h3><%= entry.list %></h3>
				<p><%= entry.body %></p>
				<p>Posted by <%= entry.username %></p>
			</li>
		</ul>
	<% }); %>
</body>
</html>